.body-content {
    margin-top 70px;
    padding: 100 px;
}

body {
    padding-top: 65px;
}

footer {
    position: absolute;
    bottom: 0;

}

.title-name {
  text-shadow: 2px 2px rgb(140, 140, 140);
  font-size: 22px;
}